Django==1.7.2
Jinja2==2.7.3
MarkupSafe==0.23
PyJWT==0.4.1
Werkzeug==0.9.6
amqp==1.4.6
anyjson==0.3.3
argparse==1.2.1
arrow==0.4.4
beautifulsoup4==4.3.2
billiard==3.3.0.19
celery==3.1.17
django-braces==1.4.0
django-celery==3.1.16
django-extensions==1.4.9
django-jinja==1.0.5
ipython==2.3.1
kombu==3.0.24
oauthlib==0.7.2
python-dateutil==1.5
python-openid==2.2.5
python-social-auth==0.2.1
pytz==2014.10
requests==2.5.1
requests-oauthlib==0.4.2
six==1.9.0
stravalib==0.4.0
units==0.06
wsgiref==0.1.2
Fabric==1.10.1
paramiko==1.15.2
redis==2.10.3
django-model-utils==2.2
