Django==1.7.2
Jinja2==2.7.3
MarkupSafe==0.23
Werkzeug==0.9.6
amqp==1.4.6
anyjson==0.3.3
argparse==1.2.1
arrow==0.4.4
billiard==3.3.0.19
celery==3.1.17
django-braces==1.4.0
django-celery==3.1.16
django-extensions==1.4.9
django-jinja==1.0.5
ipython==2.3.1
kombu==3.0.24
python-dateutil==2.4.0
pytz==2014.10
six==1.9.0
wsgiref==0.1.2
