{% extends "base.jinja" %}

{% block content %}
{% include "accounts/messages.jinja" %}
<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-8">
        {% if activities.count() > 0 %}
        <div role="tabpanel">
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#maintenance" aria-controls="maintenance" role="tab" data-toggle="tab">Maintenance</a></li>
          </ul>
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="maintenance">
                    <form action="{{ url("maintenance:add") }}" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="place">Place:</label>
                            <input type="text" class="form-control" id="place" />
                            <label for="bike">Bike:</label>
                            {{ maintenance_form.gear }}
                        </div>
                        <div class="form-group">
                            <label for="description">Description:</label>
                            <textarea name="description" id="description" rows="7" class="form-control"></textarea>
                        </div>
                        {{ maintenance_form.activity }}
                        <input type="submit" name="" class="btn btn-default btn-primary pull-right" id="" value="Add Maintenance" />
                    </form>
            </div>
          </div>
        </div>
        {% endif %}
        <div id='activities-feed'>
            <h1>Activity Feed</h1>
            {% for activity in activities %}
            <div class="activity {{ activity.source }}">
                <img src="{{ static("img/strava-logo.png") }}" class="activity-logo" alt="strava" />
                <div class="activity-header">{{ activity.name }}: {{ activity.actual_distance() }} mi</div>
                <div class="activity-footer">about {{ activity.start_date|ago }} from {{ activity.source }}</div>
            </div>
            {% else %}
            <div>
                Sorry, you don't have any activities, yet.
            </div>
            {% endfor %}
        </div>
        <div>
            <ul class="pagination">
                {% if page_obj.has_previous() %}
                <li><a href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
                {% endif %}
                {% for pg in paginator.page_range %}
                {% if page_obj.number == pg %}
                <li class="active"><a href="?page={{ pg }}">{{ pg }}</a></li>
                {% else %}
                <li><a href="?page={{ pg }}">{{ pg }}</a></li>
                {% endif %}
                {% endfor %}
                {% if page_obj.has_next() %}
                <li><a href="?page={{ page_obj.next_page_number() }}">Next</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
    <div class="col-xs-6 col-md-4">
        <h2>Gear</h2>
        <div>
        {% if gears %}
            {% for gear in gears %}
            <div>{{ gear.name }} - {{ gear.activity_distance() }} mi</div>
            {% else %}
            You don't have any gear yet.
            {% endfor %}
        {% endif %}
        </div>
        <h2>Last Maintenance</h2>
        <div>
        {% if gears %}
            {% for gear in gears %}
            <div>{{ gear.name }} - {{ gear.distance_since_last_maintenance() }} mi</div>
            {% else %}
            You don't have any gear yet.
            {% endfor %}
        {% endif %}
        </div>
    </div>
</div>

{% endblock %}
