{% extends "base.jinja" %}

{% block content %}
{% include "accounts/messages.jinja" %}
<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-8">
        Your account as been associated with strava and we have started to pull in your activity and gear data. Depending on the amount of data there is it could take a while to get all of it.
    </div>
</div>
{% endblock %}
