{% extends "base.jinja" %}

{% block content %}
{% include "accounts/messages.jinja" %}
<div class="row">
    <div class="col-md-offset-4 col-md-6">
        <div class="login">
            <div class="login-header">
                <h1>Recover Password</h1>
            </div>
            <div class="login-panel">
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ form.email.errors }}
                        <input type="text" class="form-control" name="email" id="email" placeholder="Email" required />
                    </div>
                    <input type="submit" name="resetpassword" value="Reset Password" class="btn btn-signup" />
                </form>
                <div>
                    <a href="{{ url('password_recovery') }}">Forgot Password?</a>
                    <a href="{{ url('register') }}">Register</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
