{% extends "base.jinja" %}

{% block content %}
{% include "accounts/messages.jinja" %}
<div class="row">
    <div class="col-md-offset-4 col-md-6">
        <div class="login">
            <div class="change-password-header">
                <h1>Change Password</h1>
            </div>
            <div class="login-panel">
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="password" class="form-control" name="old_password" placeholder="Old Password" required />
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="new_password1" placeholder="New Password" required />
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="new_password2" placeholder="Confirm New Password" required />
                    </div>
                    <input type="submit" name="login" value="Change Password" class="btn btn-signup" />
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-offset-4 col-md-6">
        <div class="">
            <h1>Associate with Strava</h1>
        </div>
        <div>
            {% if strava %}
            <a href="{{ url('social:begin', 'strava') }}"><img src="http://strava.github.io/api/images/ConnectWithStrava.png" /></a>
            {% else %}
            Connected to Strava
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}
